doctype html
html
  head
    title #{map.title}
    include ../templates/meta.jade
    script(src='http://www.globalforestwatch.org/gfw-assets' id='loader-gfw')
    //- script(src='../../vendor/jquery/dist/jquery.min.js')
    //- script(src='//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js')
    style
      :stylus
        @require '../css/base'
    link(rel='stylesheet', href='../css/report.css?#{version}')
    link(rel='stylesheet', media='print' href='../css/report-print.css?#{version}')
    link(rel='stylesheet', href='//js.arcgis.com/#{esriVersion}/esri/css/esri.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
    link(rel='icon', href='../css/images/favicon.ico')
    script.
      var base = location.href.replace(/\/[^/]+$/, '');
      var mapBase = base.replace('report', 'map');
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        cacheBust: '#{version}',
        packages: [
          { name: 'report', location: base + '/js' },
          { name: 'js', location: mapBase + '/js' },
          { name: 'vendor', location: base + '/../vendor' },
          { name: 'utils', location: mapBase + '/js/utils' },
          { name: 'stores', location: mapBase + '/js/stores' },
          { name: 'helpers', location: mapBase + '/js/helpers' },
          { name: 'actions', location: mapBase + '/js/actions' },
          { name: 'components', location: mapBase + '/js/components' }
        ],
        aliases: [
          ['alt', 'vendor/alt/dist/alt.min'],
          ['lodash', 'vendor/lodash/lodash.min'],
          ['babel-polyfill', 'vendor/browser-polyfill'],
          ['react', 'vendor/react/react.min'],
          ['react-dom', 'vendor/react/react-dom.min'],
          ['FileSaver', 'vendor/file-saver/FileSaver.min']
        ],
        deps: ['dojo/domReady!'],
        callback: function () { require(['report/main']); }
      };
  body
    include ../templates/svgAssets.jade
    div#headerGfw
    a(href="../index.html")
      div.gfw-water-logo
    a.page-aqueduct-link(href="http://www.wri.org/our-work/project/aqueduct", target="_blank")
    include ../templates/topNavigation
    
    section.relative
      //- a(href='../index.html')
      //-   div.gfw-water-logo.relative
      //- a(href='http://www.wri.org/our-work/project/aqueduct')
      //-   div.aqueduct-logo
      //- include ../templates/topNavigation
      div.wrapper
        div.report-controls
          ul
            li#share-icon(title='share')
              svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-share") 
            li#print-icon(title='print')
              svg(preserveAspectRatio='xMidYMid' width='19' height='14')
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-print") 
            li#csv-export-icon(title='download csv')
              svg(preserveAspectRatio='xMidYMid' width='16' height='15')
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-csv") 
    
    section.report-controls-background
    //- section.relative.report-controls
    //-   div.wrapper
    //-     ul
    //-       li#share-icon 
    //-         svg 
    //-           use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-share") 
    //-       li 
    //-         svg 
    //-           use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-h-develop") 
    //-       li 
    //-         svg 
    //-           use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-h-map") 
    //-       li 
    //-         svg 
    //-           use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-h-apps") 
    section.relative.dark.map.overview
      div.wrapper 
        h1
        p.
          A watershed’s health directly affects the quantity and quality of water sources as well as water transport and treatment costs. Healthy forested lands provide critical watershed functions as natural infrastructure by minimizing erosion and pollutants, purifying water, and reducing the impact of floods and droughts.
        div.printed-map 
          span.labelToRemove Generating:  overview map
    section.relative.dark.stats 
      div.wrapper
        h2 know your watershed
        div.info-wrapper
          div.info-column
            table
              tr
                td 
                  div total watershed area
                  div.blue-stat 
                    span.stat#watershed-area --
                    span.unit#watershed-area-unit Ha
                td 
                  div wetland
                  div.blue-stat
                    span.stat#wetland-area --
                    span.unit#wetland-area-unit Ha
                    //- span.unit Ha (#[span#wetland-percent -])
              tr
                td
                  div tree cover (2000)
                  div.blue-stat
                    span.stat#tree-cover --
                    span.unit#tree-cover-unit Ha
                    //- span.unit Ha (#[span#tree-cover-percent -])
                    div.gray.smaller Displaying tree cover with #[span.blue-bubble > #[span.canopy-density]] canopy density 
                td
                  div major dams
                    span#major-dams-info-button.info-icon.pointer
                      svg
                        use(xlink:href="#shape-info")
                  div.blue-stat
                    span.stat#dam-count -
                    span.unit#dam-count-unit Dams
              tr
                td 
                  div potential tree cover
                  div.blue-stat
                    span.stat#past-cover --
                    span.unit#past-cover-unit Ha
                td
                  div water intake
                    span#water-intakes-info-button.info-icon.pointer
                      svg
                        use(xlink:href="#shape-info")
                  div.blue-stat
                    span.stat#water-withdrawl -
                    span.unit#water-withdrawl-unit Locations
          div.info-column
            div land cover
            div#land-cover-chart

    section.relative.risks 
      div.wrapper
        h2.risk-chart-head-title watershed risks
        div.risk-chart-head Watershed risk summary
          span#watershed-info-button.info-icon.pointer
            svg
              use(xlink:href="#shape-info")
        div.info-wrapper
          div.info-column 
            div#risk-chart
          div.info-column
            p.
              Changes in the landscape, such as deforestation, can threaten a watershed’s ability to regulate water flows, control water quality, and provide other critical ecosystem services. 
            ul.watershed-list We consider four watershed risks: 
              li Recent Forest Loss
              li Historical Forest Loss
              li Erosion Risk
              li Fire Risk
            
            p.
              Risk scores range from 1 – 5. A score of 4 and above indicates that the watershed health is more likely to suffer as a result of exposure to that stressor. Further investigation and urgent action could be needed to mitigate the risk.
            p.blue.
              #[a(href='#plan-for-action') Jump] to recommendations according to watershed risk summary.

    hr

    section.relative.map.recent-loss 
      div.wrapper
        h4 recent forest loss
        div.info-wrapper
          div.info-column
            h2 Risk Score: #[span.blue#risk-tree-loss -]
            p.
              This watershed experienced #[span.blue#tree-loss-amount --] #[span#tree-loss-amount-unit.blue Ha] of tree cover loss from 2001 to 2014, accounting for #[span.blue#tree-loss-percent -] of total tree cover (2000), presenting a #[span#tree-loss-trend --] trend.
            p.
              #[span.bold-text Recent forest loss risk] was measured by the area of total forest loss from 2001 to 2014 as a share of total forest extent (year 2000). The threshold of canopy density for identifying forest and forest loss is set to #[span.blue-bubble > #[span.canopy-density]] across the globe, which may include natural forest, plantations and other forms of vegetation depending on the region. This risk score is not applicable to arid areas and areas where total forest extent (year 2000) is less than 10% of watershed. 
            p.emphasis.
              Recent forest loss estimates the potential of damaging impact from recent changes (2001 – 2014) in the extent of forest cover in a watershed. As forests are converted to other land uses or are unnaturally disturbed, their ability to regulate flow and purify water diminishes, putting communities at risk of flood, drought, higher cost of treatment, and greater incidence of drinking water contamination. In addition to the area of forest removed, the duration and magnitude of a watershed’s response depends on various factors, including age and type of forest removed, climate, topography, and size of the watershed.
          div.info-column
            div.printed-map
              span.labelToRemove Generating:  recent tree loss map
              div#recentLossReport.report-legend.recent-loss
        div#tree-cover-loss-chart

    hr

    section.relative.map.historical-loss 
      div.wrapper
        h4 historical forest loss
        div.info-wrapper
          div.info-column
            h2 Risk Score: #[span.blue#risk-past-loss -]
            p.
              This watershed was covered by #[span.blue#past-loss-amount --] #[span#past-loss-amount-unit.blue Ha] of forest, accounting for #[span.blue#past-loss-percent -] of watershed area. The total tree cover (2000) accounts for #[span.blue#past-loss-rate --] of potential forest.
            p.
              #[span.bold-text Historical forest loss risk] is approximated by comparing total forest extent (year 2000) to potential forest coverage. The threshold of canopy density for identifying forest and forest loss is set to #[span.blue-bubble > #[span.canopy-density] %] across the globe. This risk score is not applicable to arid areas and areas where potential forest coverage is less than 10% of the watershed. 
            p.emphasis.
              Historical forest loss measures the potential threat on a watershed’s capacity to deliver ecosystem services as a result of forest cover change in the past (prior to 2000). Compared to recent forest loss, forest loss that took place decades ago may lead to different hydrological responses with greater uncertainty in a watershed. In addition to the extent of forest removed, other factors that contribute to a watershed’s capacity to regulate flow and control water quality include age and type of forest removed, climate, and land management since forest removal.
          div.info-column
            div.printed-map 
              span.labelToRemove Generating:  historical tree loss map
              div#historicalLossReport.report-legend.historical-loss-legend
    hr

    section.relative.map.erosion 
      div.wrapper
        h4 erosion
        div.info-wrapper
          div.info-column
            h2 Risk Score: #[span.blue#risk-erosion -]
            p.
              The overall erosion risk of this watershed is #[span.blue#risk-erosion-description].
            p.
              #[span.bold-text Erosion risk] is derived from the Revised Universal Soil Loss Equation, adjusted to extend its applicability to a global scale. Factors include rainfall erosivity, slope steepness, soil erodibility, and land cover.
            p.emphasis.
              Erosion is a significant problem that affects both water quality and quantity. High erosion deteriorates water quality and reduces reservoir capacity, increasing cost of water treatment and capital expenses, and damaging safety of water supplies. High erosion risk is usually linked to erodible soil, intense rainfall, steep topography, and conversion of forest and other natural lands to pasture, cropland, and other human developments.
          div.info-column
            div.printed-map 
              span.labelToRemove Generating:  erosion map
              div#sedimentReport.report-legend

    hr

    section.relative.map.fire 
      div.wrapper
        h4 fire
        div.info-wrapper
          div.info-column
            h2 Risk Score: #[span.blue#risk-fire -]
            p.
              There were #[span.blue#recent-fire-count -] fire alerts over the past #[span.blue 24 hours]. An average of #[span.blue#average-fire-count -] fires occurred annually for the past ten years.
            p.
              Learn more about  
              #[a(href='http://fires.globalforestwatch.org/' target='_blank') Global Forest Watch Fires]
            p.
              #[span.bold-text Fire risk] is measured by average annual fire occurrence per unit area in a watershed in the most recent past ten years (January 1st, 2006 to December 31st, 2015).
            p.emphasis.
              Fires are a common form of disturbance in some forested watersheds. High intensity or large fires can result in significant increases in runoff, erosion, and tree mortality, all of which can negatively impact water quality and flow regulation. Although the effects are usually short-lived, long-term effects, magnitude, and persistence of downstream effects are uncertain.
          div.info-column
            div.printed-map 
              span.labelToRemove Generating:  recent fires map
              div#fireLegendReport.report-legend.fire-risk-legend
    hr
    section.relative.map.water-stress
      div.wrapper
        h4 baseline water stress
        div.info-wrapper
          div.info-column
            p.
              #[span.bold-text Baseline water stress] (BWS) measures the ratio of total water withdrawals to annual available renewable surface water supplies. 
            p.emphasis.
              We use this data to set the context for landscape water-related risk for a given watershed. BWS serves as a good proxy for water-related challenges more broadly, given that areas of higher water stress will likely be subject to higher depletion of surface and groundwater resources and more competition amongst users, as well as the associated impacts on water quality and other ecosystem services. Watersheds with high baseline water stress may warrant urgent, appropriate action to respond to the watershed risks listed above.
            p.
              Learn more about the 
              #[a(href='http://www.wri.org/our-work/project/aqueduct' target='_blank') Aqueduct project]
          div.info-column
            div.printed-map 
              span.labelToRemove Generating:  baseline water stress map
              div#waterStressReport.report-legend

    hr

    section.relative.plan
      a(id='plan-for-action')
      div.wrapper
        h2 plan for action
        h4 recommended natural infrastructure strategies
        p Risks scores of 4 or higher should be addressed by specific actions. Highlighted is the list of recommendations and case studies to mitigate high risks to this watershed.
        div.info-wrapper
          table
            tr 
              th 
              th risk
              th strategy
              th description
              th Case Studies
            tr.no-risk
              td(colspan='4') No significant risks for this watershed.
            tr.risk-info.tree-loss-risk
              td
                div.square.square-pink
              td.
                #[span.risk-category Recent Tree Cover Loss]
              td.
                Ecosystem Protection
              td
                ul
                  li #[span.strategy-example Conservation zones]:  Setting aside natural areas with high conservation value to preserve biodiversity and maintain forests, wetlands, and other open lands as natural infrastructure to regulate water flow and improve quality.
                  li #[span.strategy-example Sustainable forestry]:  Engaging in best forestry practices to minimize negative environmental impacts and disturbance to forests to deliver critical watershed services such as water purification and flood mitigation.
                  li #[span.strategy-example Road network regulation]:  Limiting road creation near vulnerable forests, which has been heavily linked to deforestation that diminishes forests’ ability to regulate flow and purify water.
              td
                ul
                  li.report-location 
                    a(href='http://www.nyc.gov/html/dep/html/watershed_protection/index.shtml', target='_blank') New York, NY, United States
                  li.report-location 
                    a(href='https://www.pwd.org/watershed-protection', target='_blank') Portland, ME, United States
                  li.report-location 
                    a(href='http://www.ecosystemmarketplace.com/articles/decade-old-ecuadorian-water-fund-br-providing-template-for-entire-region/', target='_blank') Quito, Ecuador

            tr.risk-info.past-loss-risk
              td
                div.square.square-yellow
              td.
                #[span.risk-category Historical Tree Cover Loss]
              td.
                Landscape Restoration
              td
                ul
                  li #[span.strategy-example Reforestation]:  Planting seedlings in burnt or deforested areas to stem the rate of erosion and restore the land.
                  li #[span.strategy-example Assisted natural regeneration]:  Enhancing the establishment of secondary forest from degraded grassland and shrub vegetation by protecting and nurturing the mother trees and their wildlings inherently present in the area which may enhance aquifer recharge.
                  li #[span.strategy-example Agroforestry]:  Managing forests together with crops and/or animal production systems in agricultural settings.
              td
                ul
                  li.report-location
                    a(href='http://www.wri.org/sites/default/files/WRI_Restoration_Diagnostic_Case_Example_China.pdf', target='_blank') Beijing, China
                  li.report-location
                    a(href='http://www.wri.org/sites/default/files/WRI_Restoration_Diagnostic_Case_Example_India_1.pdf', target='_blank') Multiple locations, India
                  li.report-location
                    a(href='http://www.watershedconnect.org/programs/Projeto-Produtores-de-A-gua-e-Floresta-Rio-de-Janeiro', target='_blank') Rio de Janeiro, Brazil
                  li.report-location
                    a(href='http://www.watershedmarkets.org/casestudies/Costa_Rica_National_PES_eng.html', target='_blank') Multiple locations, Costa Rica
                  li.report-location
                    a(href='http://www.wri.org/sites/default/files/WRI_Restoration_Diagnostic_Case_Example_Ethiopia.pdf', target='_blank') Humbo, Ethiopia

            tr.risk-info.erosion-risk
              td
                div.square.square-brown
              td.
                #[span.risk-category Erosion]
              td.
                Erosion Control
              td
                ul
                  li #[span.strategy-example Vegetation buffering]:  Planting or maintaining trees/ shrubs along the sides of roads and waterways to capture runoff and pollutants.
                  li #[span.strategy-example Slope erosion reduction]:  Slowing the rate of erosion on steep sloped lands by creating various barriers to sediment movement. Examples include contour felling of trees, silt fences, and terracing.
                  li #[span.strategy-example Agricultural best management practices]:  Reducing the amount of pesticides, fertilizers, animal waste, and other pollutants entering water resources, and conserving water supply. Examples include contour farming, cover crops, and terrace construction.
              td
                ul
                  li.report-location
                    a(href='http://www.eweb.org/sourceprotection/vip', target='_blank') Eugene, OR, United States
                  li.report-location
                    a(href='http://www.forest-trends.org/documents/files/doc_4896.pdf', target='_blank') Lima, Peru
                  li.report-location
                    a(href='http://www.watershedconnect.org/programs/The-Catchment-Sensitive-Farming-Capital-Grant-Scheme', target='_blank') Paris, France

            tr.risk-info.fire-risk
              td
                div.square.square-orange
              td.
                #[span.risk-category Fire]
              td.
                Fire Management
              td
                ul
                  li #[span.strategy-example Forest fuel reduction]:  Reducing wildfire severity and related sediment and ash pollution through mechanical forest thinning and controlled burns.
                  li #[span.strategy-example Alternative land clearing]:  Preventing fire from slash-and-burn by using alternative land-clearing and management solutions such as alley cropping.
              td
                ul
                  li.report-location
                    a(href='http://www.denverwater.org/SupplyPlanning/WaterSupply/PartnershipUSFS/', target='_blank') Denver, CO, United States
                  li.report-location
                    a(href='http://www.nature.org/ourinitiatives/regions/northamerica/unitedstates/newmexico/new-mexico-rio-grande-water-fund.xml', target='_blank') Rio Grande, NM, United States
                  li.report-location
                    a(href='http://www.wri.org/blog/2014/04/preventing-forest-fires-indonesia-focus-riau-province-peatland-and-illegal-burning', target='_blank') Riau, Indonesia
                  
    section
      div.report-controls-bottom
        ul
          li#share-icon-bottom.gfw-btn.blue-switch.pointer(title='share') Share 
            svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
              use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-share") 
          li#print-icon-bottom.gfw-btn.blue-switch.pointer(title='print') Print 
            svg(preserveAspectRatio='xMidYMid' width='19' height='14')
              use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-print") 
          li#csv-export-icon-bottom.gfw-btn.blue-switch.pointer(title='download csv') Download 
            svg(preserveAspectRatio='xMidYMid' width='16' height='15')
              use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-csv")

    section.blue.plan 
      div.wrapper
        h2 beyond the numbers
        
        div#gridView.row
          div.col
            div#spatialMapping.little-card
              div.icon
                svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
                  use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#about-icon-tools") 
              header
                h2 Spatial Mapping Tools & Platforms
                //- small World Resources Institute
          div.col
            div#economics.little-card
              div.icon
                svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
                  use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#about-icon-economics") 
              header
                h2 Economics & Finance
                //- small World Resources Institute
          div.col
            div#guidance.little-card
              div.icon
                svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
                  use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#about-icon-guidance") 
              header
                h2 Guidance & Roadmaps
                //- small World Resources Institute
          //- div.col
          //-   div#naturalInfrastructure.little-card
          //-     div.icon
          //-       svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
          //-         use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#about-icon-natural-infrastructure") 
          //-     header
          //-       h2 Natural Infrastructure Champions
                //- small World Resources Institute
          div.col
            div#otherWRI.little-card
              div.icon
                svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
                  use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#about-icon-other") 
              header
                h2 Other WRI Projects
            
    div.hidden
      div.loading-container
        div.loading
          svg(width='52', height='52', style='padding:1px;')
            g(transform='translate(25,25) rotate(-90)')
              path(d='M0,25A25,25 0 1,1 0,-25A25,25 0 1,1 0,25M0,20A20,20 0 1,0 0,-20A20,20 0 1,0 0,20Z', style='fill: rgb(255, 255, 255); stroke: rgb(204, 204, 204)')
              
              path(class='moving' d='M0,-25A25,25 0 0,1 25,0L20,0A20,20 0 0,0 0,-20Z' style='fill: rgb(85, 85, 85);')
      div.action-icons
        svg
          defs
            symbol(id='actions-icon-share' viewbox='0 0 12 13')
              path(d='M10.032,4.054 C9.646,4.054 9.291,3.930 8.987,3.731 C8.987,3.731 4.141,6.500 4.141,6.500 C4.141,6.500 8.987,9.269 8.987,9.269 C9.291,9.070 9.646,8.946 10.032,8.946 C11.118,8.946 12,9.856 12,10.970 C12,12.091 11.118,13.001 10.032,13.001 C8.973,13.001 8.113,12.133 8.072,11.050 C8.072,11.050 3.049,8.179 3.049,8.179 C2.737,8.392 2.369,8.524 1.967,8.524 C0.882,8.524 -0,7.621 -0,6.500 C-0,5.379 0.882,4.476 1.967,4.476 C2.369,4.476 2.737,4.608 3.048,4.820 C3.048,4.820 8.072,1.950 8.072,1.950 C8.113,0.867 8.973,-0.001 10.032,-0.001 C11.118,-0.001 12,0.910 12,2.030 C12,3.144 11.118,4.054 10.032,4.054 Z')
            symbol(id='actions-icon-print' viewbox='0 0 19 14')
              path(d='M16,10 C16,10 16,12 16,12 C16,12 16,13 16,13 C16,13 16,14 16,14 C16,14 3,14 3,14 C3,14 3,13 3,13 C3,13 3,12 3,12 C3,12 3,10 3,10 C3,10 0,10 0,10 C0,10 0,3 0,3 C0,3 1,3 1,3 C1,3 2,3 2,3 C2,3 3,3 3,3 C3,3 3,0 3,0 C3,0 16,0 16,0 C16,0 16,3 16,3 C16,3 17,3 17,3 C17,3 18,3 18,3 C18,3 19,3 19,3 C19,3 19,10 19,10 C19,10 16,10 16,10 ZM5,12 C5,12 14,12 14,12 C14,12 14,7.993 14,7.993 C14,7.993 5,7.993 5,7.993 C5,7.993 5,12 5,12 ZM2.889,8.002 C2.889,8.002 2.889,8 2.889,8 C2.889,8 3,8 3,8 C3,8 3,7 3,7 C3,7 3,6 3,6 C3,6 16,6 16,6 C16,6 16,7 16,7 C16,7 16,8 16,8 C16,8 16.111,8 16.111,8 C16.111,8 16.111,8.002 16.111,8.002 C16.111,8.002 17,8.002 17,8.002 C17,8.002 17,5 17,5 C17,5 2,5 2,5 C2,5 2,8.002 2,8.002 C2,8.002 2.889,8.002 2.889,8.002 ZM1,3.996 C1,3.996 1,3.996 1,3.996 C1,3.996 1,8.002 1,8.002 C1,8.002 1,8.002 1,8.002 C1,8.002 1,5 1,5 C1,5 1,4 1,4 C1,4 1,3.996 1,3.996 ZM2,3.996 C2,3.996 2,4 2,4 C2,4 17,4 17,4 C17,4 17,3.996 17,3.996 C17,3.996 2,3.996 2,3.996 ZM18,3.996 C18,3.996 18,3.996 18,3.996 C18,3.996 18,4 18,4 C18,4 18,5 18,5 C18,5 18,8.002 18,8.002 C18,8.002 18,8.002 18,8.002 C18,8.002 18,3.996 18,3.996 Z')
            symbol(id='actions-icon-csv' viewbox='0 0 16 15')
              path(d='M15,12 C15,12 13.009,12 13.009,12 C13.009,12 13.009,14.731 13.009,14.731 C13.009,14.880 12.847,15.001 12.695,15.001 C12.695,15.001 1.317,15.001 1.317,15.001 C1.165,15.001 1,14.880 1,14.731 C1,14.731 1,12 1,12 C1,12 -0,12 -0,12 C-0,12 -0,5 -0,5 C-0,5 1,5 1,5 C1,5 1,0.276 1,0.276 C1,0.127 1.165,0.007 1.317,0.007 C1.317,0.007 7.978,0.007 7.978,0.007 C8.451,0.177 8.836,0.494 9.236,0.893 C9.236,0.893 11.980,3.628 11.980,3.628 C12.411,4.059 12.741,4.475 12.899,5 C12.899,5 15,5 15,5 C15,5 16,5 16,5 C16,5 16,12 16,12 C16,12 15,12 15,12 ZM5,9 C5,9 4,9 4,9 C4,9 4,10 4,10 C4,10 2,10 2,10 C2,10 2,7 2,7 C2,7 4,7 4,7 C4,7 4,8 4,8 C4,8 5,8 5,8 C5,8 5,7 5,7 C5,7 4,7 4,7 C4,7 4,6 4,6 C4,6 2,6 2,6 C2,6 2,7 2,7 C2,7 1,7 1,7 C1,7 1,10 1,10 C1,10 2,10 2,10 C2,10 2,11 2,11 C2,11 4,11 4,11 C4,11 4,10 4,10 C4,10 5,10 5,10 C5,10 5,9 5,9 ZM7,6 C7,6 7,7 7,7 C7,7 6,7 6,7 C6,7 6,8 6,8 C6,8 7,8 7,8 C7,8 7,9 7,9 C7,9 8,9 8,9 C8,9 8,10 8,10 C8,10 6,10 6,10 C6,10 6,11 6,11 C6,11 8,11 8,11 C8,11 8,10 8,10 C8,10 9,10 9,10 C9,10 9,9 9,9 C9,9 8,9 8,9 C8,9 8,8 8,8 C8,8 7,8 7,8 C7,8 7,7 7,7 C7,7 9,7 9,7 C9,7 9,6 9,6 C9,6 7,6 7,6 ZM8.267,0.830 C8.267,0.830 8.267,4.731 8.267,4.731 C8.267,4.731 12.144,4.731 12.144,4.731 C12.144,4.731 8.267,0.830 8.267,0.830 ZM15,6 C15,6 14,6 14,6 C14,6 14,9 14,9 C14,9 13,9 13,9 C13,9 13,10 13,10 C13,10 12,10 12,10 C12,10 12,9 12,9 C12,9 11,9 11,9 C11,9 11,6 11,6 C11,6 10,6 10,6 C10,6 10,9 10,9 C10,9 11,9 11,9 C11,9 11,10 11,10 C11,10 12,10 12,10 C12,10 12,11 12,11 C12,11 13,11 13,11 C13,11 13,10 13,10 C13,10 14,10 14,10 C14,10 14,9 14,9 C14,9 15,9 15,9 C15,9 15,6 15,6 Z')
            symbol(id='actions-icon-share' viewbox='0 0 12 13')
              path(d='M10.032,4.054 C9.646,4.054 9.291,3.930 8.987,3.731 C8.987,3.731 4.141,6.500 4.141,6.500 C4.141,6.500 8.987,9.269 8.987,9.269 C9.291,9.070 9.646,8.946 10.032,8.946 C11.118,8.946 12,9.856 12,10.970 C12,12.091 11.118,13.001 10.032,13.001 C8.973,13.001 8.113,12.133 8.072,11.050 C8.072,11.050 3.049,8.179 3.049,8.179 C2.737,8.392 2.369,8.524 1.967,8.524 C0.882,8.524 -0,7.621 -0,6.500 C-0,5.379 0.882,4.476 1.967,4.476 C2.369,4.476 2.737,4.608 3.048,4.820 C3.048,4.820 8.072,1.950 8.072,1.950 C8.113,0.867 8.973,-0.001 10.032,-0.001 C11.118,-0.001 12,0.910 12,2.030 C12,3.144 11.118,4.054 10.032,4.054 Z')
            symbol(id='actions-icon-print' viewbox='0 0 19 14')
              path(d='M16,10 C16,10 16,12 16,12 C16,12 16,13 16,13 C16,13 16,14 16,14 C16,14 3,14 3,14 C3,14 3,13 3,13 C3,13 3,12 3,12 C3,12 3,10 3,10 C3,10 0,10 0,10 C0,10 0,3 0,3 C0,3 1,3 1,3 C1,3 2,3 2,3 C2,3 3,3 3,3 C3,3 3,0 3,0 C3,0 16,0 16,0 C16,0 16,3 16,3 C16,3 17,3 17,3 C17,3 18,3 18,3 C18,3 19,3 19,3 C19,3 19,10 19,10 C19,10 16,10 16,10 ZM5,12 C5,12 14,12 14,12 C14,12 14,7.993 14,7.993 C14,7.993 5,7.993 5,7.993 C5,7.993 5,12 5,12 ZM2.889,8.002 C2.889,8.002 2.889,8 2.889,8 C2.889,8 3,8 3,8 C3,8 3,7 3,7 C3,7 3,6 3,6 C3,6 16,6 16,6 C16,6 16,7 16,7 C16,7 16,8 16,8 C16,8 16.111,8 16.111,8 C16.111,8 16.111,8.002 16.111,8.002 C16.111,8.002 17,8.002 17,8.002 C17,8.002 17,5 17,5 C17,5 2,5 2,5 C2,5 2,8.002 2,8.002 C2,8.002 2.889,8.002 2.889,8.002 ZM1,3.996 C1,3.996 1,3.996 1,3.996 C1,3.996 1,8.002 1,8.002 C1,8.002 1,8.002 1,8.002 C1,8.002 1,5 1,5 C1,5 1,4 1,4 C1,4 1,3.996 1,3.996 ZM2,3.996 C2,3.996 2,4 2,4 C2,4 17,4 17,4 C17,4 17,3.996 17,3.996 C17,3.996 2,3.996 2,3.996 ZM18,3.996 C18,3.996 18,3.996 18,3.996 C18,3.996 18,4 18,4 C18,4 18,5 18,5 C18,5 18,8.002 18,8.002 C18,8.002 18,8.002 18,8.002 C18,8.002 18,3.996 18,3.996 Z')
            symbol(id='about-icon-economics' viewBox='0 0 42 42')
              path(d="M37.629,21.909 C37.114,21.351 36.403,21.051 35.649,21.051 C34.149,21.051 32.931,22.269 32.931,23.769 C32.931,25.269 34.149,26.486 35.649,26.486 C35.683,26.486 35.709,26.486 35.743,26.486 C39.197,26.537 42.000,29.366 42.000,32.837 C42.000,35.709 40.080,38.143 37.466,38.923 C37.466,38.923 37.466,40.183 37.466,40.183 C37.466,41.186 36.651,42.000 35.649,42.000 C34.646,42.000 33.831,41.186 33.831,40.183 C33.831,40.183 33.831,38.923 33.831,38.923 C32.769,38.606 31.791,38.014 31.020,37.191 C30.334,36.454 30.369,35.306 31.097,34.620 C31.834,33.934 32.983,33.969 33.669,34.697 C34.183,35.254 34.894,35.554 35.649,35.554 C37.149,35.554 38.366,34.337 38.366,32.837 C38.366,31.337 37.149,30.120 35.649,30.120 C35.614,30.120 35.589,30.120 35.554,30.120 C32.100,30.069 29.297,27.240 29.297,23.769 C29.297,20.897 31.209,18.463 33.831,17.683 C33.831,17.683 33.831,16.423 33.831,16.423 C33.831,15.420 34.646,14.606 35.649,14.606 C36.651,14.606 37.466,15.420 37.466,16.423 C37.466,16.423 37.466,17.683 37.466,17.683 C38.529,18.000 39.506,18.591 40.277,19.414 C40.963,20.151 40.929,21.300 40.200,21.986 C39.463,22.671 38.314,22.637 37.629,21.909 ZM31.689,16.251 C30.591,16.826 29.623,17.649 28.869,18.643 C27.737,20.126 27.146,21.900 27.146,23.760 C27.146,26.006 28.020,28.123 29.597,29.726 C29.846,29.974 30.111,30.214 30.386,30.429 C27.446,33.377 23.374,35.203 18.883,35.203 C9.909,35.203 2.631,27.926 2.631,18.951 C2.631,18.951 2.631,18.943 2.631,18.943 C2.631,18.943 18.900,18.943 18.900,18.943 C18.900,18.943 18.900,2.700 18.900,2.700 C25.706,2.700 31.534,6.900 33.951,12.840 C32.657,13.457 31.749,14.743 31.689,16.251 ZM16.089,0.000 C16.089,0.000 16.089,16.123 16.089,16.123 C16.089,16.123 -0.000,16.123 -0.000,16.123 C0.034,7.191 7.226,0.000 16.089,0.000 Z")
            symbol(id='about-icon-guidance' viewBox='0 0 36 44')
              path(d="M34.855,9.609 C34.855,9.609 30.184,15.007 30.184,15.007 C30.069,15.141 29.900,15.217 29.721,15.217 C29.721,15.217 21.624,15.217 21.624,15.217 C21.624,15.217 21.624,15.217 21.624,15.217 C21.624,15.217 21.015,15.217 21.015,15.217 C21.015,15.217 16.091,15.217 16.091,15.217 C16.091,15.217 15.482,15.217 15.482,15.217 C15.482,15.217 5.152,15.217 5.152,15.217 C4.816,15.217 4.543,14.947 4.543,14.617 C4.543,14.617 4.543,3.823 4.543,3.823 C4.543,3.493 4.816,3.224 5.152,3.224 C5.152,3.224 15.507,3.224 15.507,3.224 C15.507,3.224 16.117,3.224 16.117,3.224 C16.117,3.224 21.040,3.224 21.040,3.224 C21.040,3.224 22.462,3.224 22.462,3.224 C22.462,3.224 29.721,3.224 29.721,3.224 C29.899,3.224 30.068,3.301 30.185,3.435 C30.185,3.435 34.855,8.832 34.855,8.832 C35.050,9.057 35.050,9.384 34.855,9.609 ZM16.117,0.600 C16.117,0.269 16.390,-0.000 16.726,-0.000 C16.726,-0.000 20.431,-0.000 20.431,-0.000 C20.767,-0.000 21.040,0.269 21.040,0.600 C21.040,0.600 21.040,2.025 21.040,2.025 C21.040,2.025 16.117,2.025 16.117,2.025 C16.117,2.025 16.117,0.600 16.117,0.600 ZM16.091,17.741 C16.091,17.741 16.091,16.416 16.091,16.416 C16.091,16.416 21.015,16.416 21.015,16.416 C21.015,16.416 21.015,17.741 21.015,17.741 C21.015,17.741 20.105,17.741 20.105,17.741 C20.105,17.741 18.887,17.741 18.887,17.741 C18.887,17.741 16.091,17.741 16.091,17.741 ZM5.257,18.940 C5.257,18.940 13.354,18.940 13.354,18.940 C13.354,18.940 13.963,18.940 13.963,18.940 C13.963,18.940 14.873,18.940 14.873,18.940 C14.873,18.940 16.091,18.940 16.091,18.940 C16.091,18.940 18.887,18.940 18.887,18.940 C18.887,18.940 19.496,18.940 19.496,18.940 C19.496,18.940 21.015,18.940 21.015,18.940 C21.015,18.940 22.233,18.940 22.233,18.940 C22.233,18.940 29.826,18.940 29.826,18.940 C29.826,18.940 29.826,18.940 29.826,18.940 C29.826,18.940 29.826,18.940 29.826,18.940 C30.162,18.940 30.435,19.209 30.435,19.540 C30.435,19.540 30.435,30.333 30.435,30.333 C30.435,30.664 30.162,30.933 29.826,30.933 C29.826,30.933 22.233,30.933 22.233,30.933 C22.233,30.933 21.015,30.933 21.015,30.933 C21.015,30.933 19.471,30.933 19.471,30.933 C19.471,30.933 18.861,30.933 18.861,30.933 C18.861,30.933 16.091,30.933 16.091,30.933 C16.091,30.933 14.873,30.933 14.873,30.933 C14.873,30.933 13.938,30.933 13.938,30.933 C13.938,30.933 12.516,30.933 12.516,30.933 C12.516,30.933 5.257,30.933 5.257,30.933 C5.079,30.933 4.910,30.856 4.793,30.722 C4.793,30.722 0.123,25.325 0.123,25.325 C-0.071,25.100 -0.072,24.772 0.123,24.547 C0.123,24.547 4.794,19.150 4.794,19.150 C4.909,19.016 5.078,18.940 5.257,18.940 ZM20.080,32.132 C20.080,32.132 21.015,32.132 21.015,32.132 C21.015,32.132 21.015,43.400 21.015,43.400 C21.015,43.731 20.742,44.000 20.406,44.000 C20.406,44.000 16.700,44.000 16.700,44.000 C16.365,44.000 16.091,43.731 16.091,43.400 C16.091,43.400 16.091,32.132 16.091,32.132 C16.091,32.132 18.861,32.132 18.861,32.132 C18.861,32.132 20.080,32.132 20.080,32.132 Z")
            symbol(id='about-icon-natural-infrastructure' viewBox='0 0 48 47')
              path(d="M45.063,10.411 C43.951,12.116 42.196,13.972 40.369,15.376 C38.769,16.606 36.352,18.073 33.926,18.073 C33.667,18.073 33.410,18.055 33.163,18.022 C33.053,18.007 32.957,17.941 32.903,17.845 C32.849,17.749 32.844,17.634 32.890,17.533 C34.405,14.192 36.906,10.642 40.446,7.270 C36.647,9.805 33.734,13.535 31.805,16.618 C31.727,16.742 31.580,16.805 31.435,16.776 C31.291,16.747 31.180,16.631 31.158,16.487 C30.773,14.006 31.441,11.330 33.087,8.747 C34.288,6.863 35.579,5.685 35.702,5.575 C39.209,2.103 45.208,1.334 47.625,1.164 C47.726,1.156 47.827,1.194 47.899,1.265 C47.971,1.337 48.008,1.436 48.001,1.537 C47.775,4.703 46.731,7.854 45.063,10.411 ZM30.809,9.911 C30.718,9.929 30.624,9.889 30.574,9.810 C29.350,7.854 27.500,5.486 25.089,3.877 C27.337,6.017 28.924,8.270 29.885,10.391 C29.915,10.455 29.911,10.528 29.877,10.590 C29.843,10.651 29.782,10.692 29.712,10.702 C29.555,10.723 29.392,10.734 29.228,10.734 C27.688,10.734 26.153,9.803 25.138,9.023 C23.978,8.131 22.864,6.953 22.158,5.871 C21.099,4.248 20.437,2.247 20.294,0.238 C20.289,0.174 20.313,0.111 20.358,0.065 C20.404,0.020 20.468,-0.004 20.532,0.001 C22.067,0.109 25.874,0.597 28.101,2.801 C28.178,2.871 28.999,3.619 29.761,4.814 C30.806,6.453 31.229,8.152 30.985,9.727 C30.971,9.819 30.900,9.892 30.809,9.911 ZM28.783,14.156 C30.352,16.617 30.987,19.167 30.621,21.532 C30.600,21.669 30.494,21.779 30.357,21.807 C30.219,21.835 30.079,21.775 30.004,21.657 C28.166,18.719 25.389,15.164 21.768,12.748 C25.143,15.962 27.526,19.345 28.970,22.529 C29.013,22.625 29.009,22.735 28.958,22.826 C28.906,22.918 28.815,22.980 28.710,22.994 C28.474,23.027 28.230,23.043 27.983,23.043 C25.670,23.043 23.367,21.646 21.842,20.474 C20.101,19.135 18.429,17.367 17.369,15.742 C15.779,13.305 14.784,10.301 14.569,7.284 C14.562,7.188 14.598,7.094 14.666,7.025 C14.735,6.957 14.830,6.922 14.927,6.929 C17.231,7.091 22.948,7.824 26.290,11.133 C26.407,11.238 27.638,12.360 28.783,14.156 ZM30.359,26.320 C32.466,26.286 32.839,30.311 28.415,32.240 C27.582,32.605 23.449,33.581 22.433,34.053 C22.434,34.053 29.028,35.581 33.262,33.682 C36.718,32.129 40.301,29.430 43.025,29.263 C44.466,29.175 46.369,29.918 46.051,31.644 C45.914,32.389 38.465,38.584 31.528,40.908 C30.226,41.345 29.749,41.438 27.476,41.559 C22.122,41.845 21.888,41.924 16.125,41.924 C13.596,41.924 8.398,47.000 8.398,47.000 C8.398,47.000 -0.000,38.931 -0.000,38.931 C-0.000,38.931 5.432,30.338 8.805,29.060 C11.194,28.155 16.174,28.363 20.384,27.795 C25.940,27.044 27.573,26.366 30.359,26.320 Z")
            symbol(id='about-icon-other' viewBox='0 0 41 41')
              path(d="M32.980,11.538 C32.980,11.538 35.296,9.247 35.296,9.247 C35.296,9.247 37.847,11.769 37.847,11.769 C37.847,11.769 35.528,14.065 35.528,14.065 C35.528,14.065 32.980,11.538 32.980,11.538 ZM21.107,11.371 C21.107,11.371 29.195,3.370 29.195,3.370 C29.195,3.370 31.746,5.893 31.746,5.893 C31.746,5.893 23.659,13.895 23.659,13.895 C23.659,13.895 21.107,11.371 21.107,11.371 ZM20.441,4.410 C20.441,4.410 11.033,13.716 11.033,13.716 C11.033,13.716 8.869,11.574 8.869,11.574 C8.869,11.574 20.554,0.016 20.554,0.016 C20.554,0.016 25.919,5.322 25.919,5.322 C25.919,5.322 23.638,7.590 23.638,7.590 C23.638,7.590 20.441,4.410 20.441,4.410 ZM8.734,5.229 C8.734,5.229 11.017,2.975 11.017,2.975 C11.017,2.975 13.636,5.570 13.636,5.570 C13.636,5.570 11.358,7.825 11.358,7.825 C11.358,7.825 8.734,5.229 8.734,5.229 ZM11.347,19.815 C11.347,19.815 2.606,11.162 2.606,11.162 C2.606,11.162 4.883,8.910 4.883,8.910 C4.883,8.910 13.625,17.561 13.625,17.561 C13.625,17.561 11.347,19.815 11.347,19.815 ZM7.487,17.223 C7.487,17.223 4.293,20.391 4.293,20.391 C4.293,20.391 13.520,29.536 13.520,29.536 C13.520,29.536 11.405,31.629 11.405,31.629 C11.405,31.629 0.000,20.352 0.000,20.352 C0.000,20.352 5.326,15.079 5.326,15.079 C5.326,15.079 7.487,17.223 7.487,17.223 ZM7.920,29.471 C7.920,29.471 5.296,32.068 5.296,32.068 C5.296,32.068 2.744,29.545 2.744,29.545 C2.744,29.545 5.367,26.948 5.367,26.948 C5.367,26.948 7.920,29.471 7.920,29.471 ZM19.881,29.550 C19.881,29.550 11.277,38.062 11.277,38.062 C11.277,38.062 8.725,35.540 8.725,35.540 C8.725,35.540 17.328,27.028 17.328,27.028 C17.328,27.028 19.881,29.550 19.881,29.550 ZM20.401,36.790 C20.401,36.790 30.070,27.232 30.070,27.232 C30.070,27.232 32.254,29.384 32.254,29.384 C32.254,29.384 29.532,32.069 29.532,32.069 C29.532,32.069 26.017,35.534 26.017,35.534 C26.017,35.534 20.441,41.033 20.441,41.033 C20.441,41.033 14.987,35.638 14.987,35.638 C14.987,35.638 17.110,33.537 17.110,33.537 C17.110,33.537 20.401,36.790 20.401,36.790 ZM32.145,35.876 C32.145,35.876 29.865,38.131 29.865,38.131 C29.865,38.131 27.244,35.535 27.244,35.535 C27.244,35.535 29.530,33.281 29.530,33.281 C29.530,33.281 32.145,35.876 32.145,35.876 ZM29.678,21.089 C29.678,21.089 38.424,29.744 38.424,29.744 C38.424,29.744 36.146,31.996 36.146,31.996 C36.146,31.996 27.398,23.342 27.398,23.342 C27.398,23.342 29.678,21.089 29.678,21.089 ZM40.997,20.697 C40.997,20.697 35.785,25.851 35.785,25.851 C35.785,25.851 33.618,23.706 33.618,23.706 C33.618,23.706 36.556,20.812 36.556,20.812 C36.556,20.812 33.246,17.536 33.246,17.536 C33.246,17.536 29.468,13.798 29.468,13.798 C29.468,13.798 27.240,11.592 27.240,11.592 C27.240,11.592 29.519,9.339 29.519,9.339 C29.519,9.339 40.997,20.697 40.997,20.697 ZM29.468,15.010 C29.468,15.010 32.019,17.535 32.019,17.535 C32.019,17.535 23.436,26.030 23.436,26.030 C23.436,26.030 20.884,23.505 20.884,23.505 C20.884,23.505 23.609,20.809 23.609,20.809 C23.609,20.809 27.116,17.338 27.116,17.338 C27.116,17.338 29.468,15.010 29.468,15.010 ZM25.890,17.338 C25.890,17.338 23.610,19.595 23.610,19.595 C23.610,19.595 14.981,11.049 14.981,11.049 C14.981,11.049 17.257,8.795 17.257,8.795 C17.257,8.795 25.890,17.338 25.890,17.338 ZM17.408,21.293 C17.408,21.293 26.107,29.901 26.107,29.901 C26.107,29.901 23.828,32.156 23.828,32.156 C23.828,32.156 15.129,23.549 15.129,23.549 C15.129,23.549 16.900,21.795 16.900,21.795 C16.900,21.795 17.408,21.293 17.408,21.293 ZM8.753,23.595 C8.753,23.595 11.347,21.028 11.347,21.028 C11.347,21.028 14.851,17.561 14.851,17.561 C14.851,17.561 17.588,14.852 17.588,14.852 C17.588,14.852 20.140,17.377 20.140,17.377 C20.140,17.377 17.408,20.079 17.408,20.079 C17.408,20.079 16.291,21.184 16.291,21.184 C16.291,21.184 11.304,26.119 11.304,26.119 C11.304,26.119 8.753,23.595 8.753,23.595 Z")
            symbol(id='about-icon-tools' viewBox='0 0 38 41')
              path(d="M36.874,33.685 C36.874,33.685 23.817,20.795 23.817,20.795 C23.695,20.674 23.564,20.566 23.429,20.465 C23.429,20.465 25.742,18.061 25.742,18.061 C25.860,17.944 25.972,17.820 26.075,17.693 C29.145,18.836 32.748,18.194 35.215,15.758 C37.015,13.980 37.923,11.522 37.703,9.014 C37.680,8.730 37.489,8.485 37.218,8.388 C36.947,8.290 36.642,8.357 36.438,8.557 C36.438,8.557 32.253,12.688 32.253,12.688 C32.253,12.688 28.017,11.634 28.017,11.634 C28.017,11.634 26.815,7.319 26.815,7.319 C26.815,7.319 30.999,3.189 30.999,3.189 C31.204,2.987 31.271,2.686 31.172,2.419 C31.074,2.150 30.825,1.964 30.537,1.939 C27.996,1.723 25.506,2.618 23.706,4.396 C21.240,6.830 20.587,10.384 21.744,13.414 C21.618,13.519 21.493,13.631 21.370,13.750 C21.370,13.750 17.967,16.977 17.967,16.977 C17.967,16.977 11.716,10.808 11.716,10.808 C11.638,10.730 11.555,10.662 11.469,10.598 C11.542,10.471 11.614,10.341 11.680,10.205 C13.001,10.456 15.414,7.918 17.463,5.895 C17.463,5.895 11.492,0.000 11.492,0.000 C8.822,2.636 6.873,4.406 7.126,5.709 C6.515,6.003 5.971,6.363 5.585,6.745 C5.585,6.745 4.744,7.575 4.744,7.575 C4.197,8.115 3.868,8.787 3.751,9.486 C3.669,9.578 3.586,9.675 3.503,9.779 C3.503,9.779 3.190,10.168 3.190,10.168 C3.181,10.177 3.154,10.216 3.147,10.225 C3.147,10.225 2.863,10.618 2.863,10.618 C2.685,10.852 2.530,11.106 2.379,11.352 C2.324,11.443 2.268,11.534 2.210,11.625 C2.201,11.641 2.192,11.656 2.184,11.672 C2.184,11.672 2.057,11.906 2.057,11.906 C1.905,12.189 1.746,12.481 1.611,12.803 C1.611,12.803 1.589,12.854 1.589,12.854 C1.429,13.229 1.264,13.617 1.148,14.028 C1.148,14.028 1.092,14.206 1.092,14.206 C1.046,14.352 1.000,14.498 0.957,14.673 C0.957,14.673 0.841,15.240 0.841,15.240 C0.755,15.595 0.725,15.945 0.700,16.255 C0.700,16.255 0.683,16.458 0.683,16.458 C0.641,16.780 0.653,17.083 0.665,17.350 C0.669,17.440 0.672,17.528 0.675,17.646 C0.678,17.696 0.678,17.744 0.680,17.791 C0.683,17.911 0.686,18.046 0.709,18.189 C0.709,18.189 0.782,18.649 0.782,18.649 C0.798,18.738 0.811,18.825 0.824,18.908 C0.851,19.095 0.880,19.288 0.936,19.472 C0.936,19.472 1.242,20.518 1.242,20.518 C1.336,20.836 1.642,21.046 1.977,21.023 C2.154,21.011 2.313,20.936 2.432,20.818 C2.538,20.714 2.611,20.576 2.634,20.421 C2.634,20.421 2.792,19.358 2.792,19.358 C2.804,19.273 2.840,19.149 2.878,19.019 C2.905,18.928 2.932,18.835 2.952,18.756 C2.952,18.756 3.065,18.359 3.065,18.359 C3.078,18.306 3.105,18.253 3.128,18.199 C3.151,18.150 3.173,18.098 3.193,18.048 C3.231,17.963 3.266,17.879 3.301,17.792 C3.371,17.623 3.436,17.463 3.537,17.306 C3.580,17.234 3.621,17.162 3.662,17.088 C3.766,16.904 3.865,16.730 3.983,16.585 C3.991,16.577 3.997,16.567 4.005,16.557 C4.005,16.557 4.271,16.195 4.271,16.195 C4.325,16.127 4.386,16.063 4.446,15.998 C4.488,15.953 4.530,15.907 4.584,15.846 C4.741,15.660 4.925,15.498 5.102,15.338 C5.102,15.338 5.198,15.254 5.198,15.254 C5.329,15.133 5.482,15.019 5.642,14.899 C5.708,14.851 5.772,14.803 5.835,14.755 C5.916,14.704 5.994,14.652 6.071,14.601 C6.216,14.504 6.341,14.421 6.486,14.346 C6.486,14.346 6.801,14.169 6.801,14.169 C6.801,14.169 7.120,14.015 7.120,14.015 C7.231,13.958 7.340,13.915 7.441,13.875 C7.501,13.850 7.560,13.826 7.615,13.803 C7.671,13.784 7.725,13.763 7.776,13.744 C7.844,13.720 7.903,13.696 7.983,13.675 C7.983,13.675 8.069,13.656 8.069,13.656 C8.163,13.806 8.273,13.948 8.404,14.078 C8.404,14.078 14.587,20.182 14.587,20.182 C14.587,20.182 1.388,32.698 1.388,32.698 C1.383,32.703 1.378,32.708 1.373,32.713 C-0.269,34.334 -0.536,36.709 1.106,38.331 C2.749,39.952 5.001,39.537 6.644,37.916 C6.651,37.909 6.657,37.903 6.663,37.895 C6.663,37.895 18.307,25.791 18.307,25.791 C18.375,25.871 18.443,25.951 18.519,26.026 C18.519,26.026 31.575,38.916 31.575,38.916 C33.038,40.361 35.411,40.361 36.874,38.916 C38.337,37.472 38.337,35.129 36.874,33.685 ZM4.939,36.579 C4.335,37.177 3.354,37.177 2.748,36.579 C2.144,35.982 2.144,35.014 2.748,34.417 C3.353,33.820 4.334,33.819 4.939,34.417 C5.544,35.014 5.544,35.982 4.939,36.579 Z")
            symbol(id='shape-arrow-left' viewbox='0 0 15 26')
              path(d='M 13 24 L 2 13 L 13 2 ', stroke-width='2', fill='none')
            symbol(id='shape-arrow-right' viewbox='0 0 15 26')
              path(d='M 3 2 L 14 13 L 3 24 ', stroke-width='2', fill='none')

    div#footerGfw
    div#share-modal.modal-wrapper.hidden
    div#basic-modal.modal-wrapper.hidden
    div#about-modal.modal-wrapper.hidden
    script(src='//js.arcgis.com/#{esriVersion}compact/init.js', async)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48182293-1', 'auto', { cookieDomain: "'water.globalforestwatch.org']"});
      ga('send', 'pageview');
