doctype html
html
  head
    title #{map.title}
    include ../templates/meta.jade
    script(src='http://www.globalforestwatch.org/gfw-assets' id='loader-gfw')
    //- script(src='../../vendor/jquery/dist/jquery.min.js')
    //- script(src='//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js')
    style
      :stylus
        @require '../css/base'
    link(rel='stylesheet', href='../css/report.css?#{version}')
    link(rel='stylesheet', media='print' href='../css/report-print.css?#{version}')
    link(rel='stylesheet', href='//js.arcgis.com/#{esriVersion}/esri/css/esri.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
    link(rel='icon', href='../css/images/favicon.ico')
    script.
      var base = location.href.replace(/\/[^/]+$/, '');
      var mapBase = base.replace('report', 'map');
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        cacheBust: '#{version}',
        packages: [
          { name: 'report', location: base + '/js' },
          { name: 'js', location: mapBase + '/js' },
          { name: 'vendor', location: base + '/../vendor' },
          { name: 'utils', location: mapBase + '/js/utils' },
          { name: 'stores', location: mapBase + '/js/stores' },
          { name: 'helpers', location: mapBase + '/js/helpers' },
          { name: 'actions', location: mapBase + '/js/actions' },
          { name: 'components', location: mapBase + '/js/components' }
        ],
        aliases: [
          ['alt', 'vendor/alt/dist/alt.min'],
          ['lodash', 'vendor/lodash/lodash.min'],
          ['babel-polyfill', 'vendor/browser-polyfill'],
          ['react', 'vendor/react/react.min'],
          ['react-dom', 'vendor/react/react-dom.min'],
          ['FileSaver', 'vendor/file-saver/FileSaver.min']
        ],
        deps: ['dojo/domReady!'],
        callback: function () { require(['report/main']); }
      };
  body
    include ../templates/svgAssets.jade
    div#headerGfw
    
    section.relative.report-header
      div.wrapper
        a(href='../map.html')
          div.gfw-water-logo.relative
        a(href='http://www.wri.org/our-work/project/aqueduct')
          div.aqueduct-logo
        div.report-controls
          ul
            li#share-icon 
              svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-share") 
            li#print-icon 
              svg(preserveAspectRatio='xMidYMid' width='19' height='14')
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-print") 
            li#csv-export-icon
              svg(preserveAspectRatio='xMidYMid' width='16' height='15')
                use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-csv") 
    
    section.report-controls-background
    //- section.relative.report-controls
    //-   div.wrapper
    //-     ul
    //-       li#share-icon 
    //-         svg 
    //-           use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-share") 
    //-       li 
    //-         svg 
    //-           use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-h-develop") 
    //-       li 
    //-         svg 
    //-           use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-h-map") 
    //-       li 
    //-         svg 
    //-           use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-h-apps") 
    section.relative.dark.map.overview
      div.wrapper 
        h1
        p.
          A watershed’s health directly affects the quantity and quality of water sources as well as water transport and treatment costs. Healthy forested lands provide critical watershed functions as natural infrastructure by minimizing erosion and pollutants, purifying water, and reducing the impact of floods and droughts.
        div.printed-map Generating:  overview map
    section.relative.dark.stats 
      div.wrapper
        h2 know your watershed
        div.info-wrapper
          div.info-column
            table
              tr
                td 
                  div total watershed area
                  div.blue-stat 
                    span.stat#watershed-area --
                    span.unit Ha
                td 
                  div wetland
                  div.blue-stat
                    span.stat#wetland-area --
                    span.unit Ha
                    //- span.unit Ha (#[span#wetland-percent -])
              tr
                td
                  div tree cover (2000)
                  div.blue-stat
                    span.stat#tree-cover --
                    span.unit Ha
                    //- span.unit Ha (#[span#tree-cover-percent -])
                    div.gray.smaller Displaying tree cover with #[span.blue-bubble > #[span.canopy-density]] canopy density 
                td
                  div major dams
                    span#major-dams-info-button.info-icon.pointer
                      svg
                        use(xlink:href="#shape-info")
                  div.blue-stat
                    span.stat#dam-count -
                    span.unit Dams
              tr
                td 
                  div potential tree cover
                  div.blue-stat
                    span.stat#past-cover --
                    span.unit Ha
                td
                  div water intake
                    span#water-intakes-info-button.info-icon.pointer
                      svg
                        use(xlink:href="#shape-info")
                  div.blue-stat
                    span.stat#water-withdrawl -
                    span.unit Locations
          div.info-column
            div land cover
            div#land-cover-chart

    section.relative.risks 
      div.wrapper
        h2 watershed risks
        div Watershed risk summary
          span#watershed-info-button.info-icon.pointer
            svg
              use(xlink:href="#shape-info")
        div.info-wrapper
          div.info-column 
            div#risk-chart
          div.info-column
            p.
              Changes in the landscape, such as deforestation, can threaten a watershed’s ability to regulate water flows, control water quality, and provide other critical ecosystem services. 
            p.blue.
              #[a(href='#plan-for-action') Jump] to recommendations according to watershed risk summary.

    hr

    section.relative.map.recent-loss 
      div.wrapper
        h4 recent tree cover loss
        div.info-wrapper
          div.info-column
            p.
              Displaying tree cover loss with #[span.blue-bubble > #[span.canopy-density]]  canopy density
            h2 Risk Score: #[span.blue#risk-tree-loss -]
            p.
              This watershed experienced #[span.blue#tree-loss-amount --] #[span.blue Ha] of tree cover loss from 2001 to 2014, accounting for #[span.blue#tree-loss-percent -] of total tree cover (2000), presenting a #[span#tree-loss-trend --] trend.
            //- This watershed experienced #[span.blue#tree-loss-amount --] #[span.blue Ha] of tree cover loss from 2001 to 2014, accounting for #[span.blue#tree-loss-percent -] of total tree cover (2000), The average rate of tree cover loss is #[span.blue#tree-loss-rate --], presenting a #[span#tree-loss-trend --] trend.
            p.emphasis.
              As forests are converted to other land uses or are unnaturally disturbed, their ability to regulate flow and purify water diminishes, putting communities at risk of flood, drought, higher cost of treatment, and greater incidence of drinking water contamination.
          div.info-column
            div.printed-map Generating:  recent tree loss map
        div#tree-cover-loss-chart

    hr

    section.relative.map.historical-loss 
      div.wrapper
        h4 historical tree cover loss
        div.info-wrapper
          div.info-column
            p.
              Displaying tree cover loss with #[span.blue-bubble > #[span.canopy-density] %] canopy density
            h2 Risk Score: #[span.blue#risk-past-loss -]
            p.
              This watershed was covered by #[span.blue#past-loss-amount --] #[span.blue Ha] of forest, accounting for #[span.blue#past-loss-percent -] of watershed area. The total tree cover (2000) accounts for #[span.blue#past-loss-rate --] of potential forest.
            p.emphasis.
              Over the last several centuries, vast forest areas have been cleared as agriculture has spread and human populations have grown. Breaking the spiral of loss and degradation and restoring these lands would bring many benefits. Restored lands help support livelihoods and biodiversity by supplying clean water, reducing erosiion, providing wildlife habitat, buifuel, and other forest products. Forests and trees mitigate climate change by sequestering carbon. Trees in agricultural landscapes can enhance soil fertility, onserve soil moisture, and boost food production.
          div.info-column
            div.printed-map Generating:  historical tree loss map

    hr

    section.relative.map.erosion 
      div.wrapper
        h4 erosion
        div.info-wrapper
          div.info-column
            h2 Risk Score: #[span.blue#risk-erosion -]
            p.
              The overall erosion risk of this watershed is #[span.blue#risk-erosion-description].
            p.emphasis.
              Erosion is a significant problem that affects both water quantity and quality. High erosion deteriorates water quality and reduces capacity of reservoirs, increasing cost of water treatment and capital expenses and damaging safety of water supplies. High erosion risk is usually linked to erodible soil, intense rainfall, steep topography, and conversion of forest and other natural land covers to pasture or cropland and other human activities.
          div#sedimentReport.report-legend
          div.info-column
            div.printed-map Generating:  erosion map

    hr

    section.relative.map.fire 
      div.wrapper
        h4 fire
        div.info-wrapper
          div.info-column
            h2 Risk Score: #[span.blue#risk-fire -]
            p.
              There were #[span.blue#recent-fire-count -] fire alerts over the past #[span.blue 24 hours].
            p.
              There are #[span.blue#average-fire-count -] fires occuring annually on average over the past #[span.blue three years (2013 - 2015)].
            p.
              Learn more about Global Forest Watch Fires: 
              #[a(href='http://fires.globalforestwatch.org/') fires.globalforestwatch.org/]
            p.emphasis.
              Uninvited wildfires are common in some watershed and are a natural form of disturbance in forests. Fire can provide long-term benefits to forest and watershed health. But high intensity or large wild fires can result in significant increases in runoff and erosion, which can negatively impact water quality.
          div.info-column
            div.printed-map Generating:  recent fires map
    hr
    section.relative.map.water-stress
      div.wrapper
        h4 baseline water stress
        div.info-wrapper
          div.info-column
            p.emphasis.
              Baseline water stress measures chronic stress from the ratio of water withdrawls to available supply. Higher values indicate more competition among users.
            p.
              Learn more about the Global Forest Watch Aqueduct Project: 
              #[a(href='www.wri.org/our-work/project/aqueduct') www.wri.org/our-work/project/aqueduct]
          div#waterStressReport.report-legend
          div.info-column
            div.printed-map Generating:  baseline water stress map
          
            //- div.legend-row
            //- div.legend-label Low
            //- img(title=' Low (<10%)', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgf//L/5PiUGMjLGMKAZSC4waOGrgqIGjBtLZQFh5RjUDqQUA0BcEscRvA34AAAAASUVORK5CYII=')
            //- img(title='Low to medium (10-20%)', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgf+fMfynxCBGKQZGFAOpBUYNHDVw1MBRA+lsIKw8o5qB1AIAEckDbYejc9wAAAAASUVORK5CYII=')
            //- img(title='Medium to high (20-40%)', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgf9nMfynxCDGNAZGFAOpBUYNHDVw1MBRA+lsIKw8o5qB1AIAK+kDuUNraskAAAAASUVORK5CYII=')
            //- img(title='High (40-80%)', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgf8lGf5TYhDjcwZGFAOpBUYNHDVw1MBRA+lsIKw8o5qB1AIAWEEEOqCAcLEAAAAASUVORK5CYII=')
            //- img(title='Extremely high (>80%)', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgbsZ2P9TYpArw09GFAOpBUYNHDVw1MBRA+lsIKw8o5qB1AIAdBwEkNC5WDkAAAAASUVORK5CYII=')
            //- div.legend-label High
            //- div.legend-row
            //- div.legend-label Low
            //-   //- <img key={index} title={legendInfo.label} src={`data:image/png;base64,${legendInfo.imageData}`} />
            //- div.legend-label High

    hr

    section.relative.plan
      a(id='plan-for-action')
      div.wrapper
        h2 plan for action
        h4 recommended natural infrastructure strategies
        p Risks identified as four or higher should be addressed by specific actions. Below is the list of recommendations for this watershed to mitigate high risks.
        div.info-wrapper
          table
            tr 
              th 
              th risk
              th strategy
              th description
            tr.no-risk
              td(colspan='4') No significant risks for this watershed.
            tr.risk-info.tree-loss-risk
              td
                div.square.square-pink
              td.
                #[span.risk-category Recent tree cover loss]
              td.
                Forest Protection
              td
                ul
                  li #[span.strategy-example Conservation zones]:  Setting aside forested areas with high conservation value to preserve biodiversity.
                  li #[span.strategy-example Sustainable forestry]:  Engaging in best forestry practices to minimize negative environmental impacts.
                  li #[span.strategy-example Road network regulation]:  Limiting road creation near vulnerable forests, which has been linked heavily to deforestation risks. This includes addressing the problem of illegal road-building, as well as the sustainable development of legal road networks.
            tr.risk-info.past-loss-risk
              td
                div.square.square-yellow
              td.
                #[span.risk-category Historical tree cover loss]
              td.
                Restoration
              td
                ul
                  li #[span.strategy-example Reforestation]:  Planting seedlings in burnt or deforested areas to stem the rate of erosion and restore the land.
                  li #[span.strategy-example Assisted natural regeneration]:  Enhancing the establishment of secondary forest from degraded grassland and shrub vegetation by protecting and nurturing the mother trees and their wildlings inherently present in the area.
                  li #[span.strategy-example Agroforestry]:  Managing forests together with crops and/or animal production systems in agricultural settings.
            tr.risk-info.erosion-risk
              td
                div.square.square-brown
              td.
                #[span.risk-category Erosion]
              td.
                Erosion Control
              td
                ul
                  li #[span.strategy-example Vegetation buffering]:  Planting or maintaining trees/ shrubs along the sides of roads and waterways to capture runoff and pollutants.
                  li #[span.strategy-example Slope erosion reduction]:  Slowing the rate of erosion on steep sloped lands by creating various barriers to sediment movement. Examples include contour felling of trees, silt fences, and terracing.
                  li #[span.strategy-example Agricultural best management practices]:  Reducing the amount of pesticides, fertilizers, animal waste, and other pollutants entering water resources, and conserving water supply. Examples include contour farming, cover crops, and terrace construction.
            tr.risk-info.fire-risk
              td
                div.square.square-orange
              td.
                #[span.risk-category Fire]
              td.
                Fire Management
              td
                ul
                  li #[span.strategy-example Forest fuel reduction]:  Reducing wildfire severity and related sediment and ash pollution through controlled burns and mechanical treatment.
                  
    section
      div.report-controls-bottom
        ul
          li#share-icon-bottom
            svg(preserveAspectRatio='xMidYMid' width='12' height='13') 
              use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-share") 
          li#print-icon-bottom 
            svg(preserveAspectRatio='xMidYMid' width='19' height='14')
              use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-print") 
          li#csv-export-icon-bottom
            svg(preserveAspectRatio='xMidYMid' width='16' height='15')
              use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions-icon-csv")

    section.blue.plan 
      div.wrapper
        h2 beyond the numbers
        h4 Publications

        ul
          li.
            #[a(href='//www.wri.org/publication/natural-infrastructure') Natural Infrastructure: Investing in Forested Landscapes for Source Water Protection in the United States]
          li. 
            #[a(href='//www.fs.fed.us/rm/pubs/rmrs_p071/rmrs_p071_313_327.pdf') Adaptation: Forests as Water Infrastructure in a Changing Climate]
          li. 
            #[a(href='//www.thesolutionsjournal.com/node/1241') Green versus Gray: Nature’s Solutions to Infrastructure Demands]
          li. 
            #[a(href='//www.unepdhi.org/-/media/microsite_unepdhi/publications/documents/unep/web-unep-dhigroup-green-infrastructure-guide-en-20140814.pdf') Green Infrastructure Guide to Help Address Complex Challenges of Water Management]
          li. 
            #[a(href='//www.iwa-network.org/filemanager-uploads/Natural%20Infrastrucure%20in%20the%20Nexus_Final%20Dialogue%20Synthesis%20Paper%202015.pdf') Natural Infrastructure in the Water, Energy and Food Nexus]

        h4 Roadmaps
        ul
          li.
            #[a(href='//www.iucn.org/about/work/programmes/forest/fp_our_work/fp_our_work_thematic/fp_our_work_flr/approach_to_forest_landscape_restoration/restoration_opportunities_assessment_methodology/') Restoration Opportunities Assessment Methodology (ROAM)]

    section.dark.other-projects
      div.wrapper
        h2 other wri projects
        p. 
          #[a(href='//www.wri.org/our-work/project/natural-infrastructure-water') Natural Infrastructure for Water]
        p. 
          #[a(href='//www.wri.org/our-work/project/aqueduct') Aqueduct]
        p. 
          #[a(href='//www.wri.org/resources/maps/atlas-forest-and-landscape-restoration-opportunities') Atlas of Forest and Landscape Restoration Opportunities]
            
    div.hidden
      div.loading-container
        div.loading
          svg(width='52', height='52', style='padding:1px;')
            g(transform='translate(25,25) rotate(-90)')
              path(d='M0,25A25,25 0 1,1 0,-25A25,25 0 1,1 0,25M0,20A20,20 0 1,0 0,-20A20,20 0 1,0 0,20Z', style='fill: rgb(255, 255, 255); stroke: rgb(204, 204, 204)')
              
              path(class='moving' d='M0,-25A25,25 0 0,1 25,0L20,0A20,20 0 0,0 0,-20Z' style='fill: rgb(85, 85, 85);')
      div.action-icons
        svg
          defs
            symbol(id='actions-icon-share' viewbox='0 0 12 13')
              path(d='M10.032,4.054 C9.646,4.054 9.291,3.930 8.987,3.731 C8.987,3.731 4.141,6.500 4.141,6.500 C4.141,6.500 8.987,9.269 8.987,9.269 C9.291,9.070 9.646,8.946 10.032,8.946 C11.118,8.946 12,9.856 12,10.970 C12,12.091 11.118,13.001 10.032,13.001 C8.973,13.001 8.113,12.133 8.072,11.050 C8.072,11.050 3.049,8.179 3.049,8.179 C2.737,8.392 2.369,8.524 1.967,8.524 C0.882,8.524 -0,7.621 -0,6.500 C-0,5.379 0.882,4.476 1.967,4.476 C2.369,4.476 2.737,4.608 3.048,4.820 C3.048,4.820 8.072,1.950 8.072,1.950 C8.113,0.867 8.973,-0.001 10.032,-0.001 C11.118,-0.001 12,0.910 12,2.030 C12,3.144 11.118,4.054 10.032,4.054 Z')
            symbol(id='actions-icon-print' viewbox='0 0 19 14')
              path(d='M16,10 C16,10 16,12 16,12 C16,12 16,13 16,13 C16,13 16,14 16,14 C16,14 3,14 3,14 C3,14 3,13 3,13 C3,13 3,12 3,12 C3,12 3,10 3,10 C3,10 0,10 0,10 C0,10 0,3 0,3 C0,3 1,3 1,3 C1,3 2,3 2,3 C2,3 3,3 3,3 C3,3 3,0 3,0 C3,0 16,0 16,0 C16,0 16,3 16,3 C16,3 17,3 17,3 C17,3 18,3 18,3 C18,3 19,3 19,3 C19,3 19,10 19,10 C19,10 16,10 16,10 ZM5,12 C5,12 14,12 14,12 C14,12 14,7.993 14,7.993 C14,7.993 5,7.993 5,7.993 C5,7.993 5,12 5,12 ZM2.889,8.002 C2.889,8.002 2.889,8 2.889,8 C2.889,8 3,8 3,8 C3,8 3,7 3,7 C3,7 3,6 3,6 C3,6 16,6 16,6 C16,6 16,7 16,7 C16,7 16,8 16,8 C16,8 16.111,8 16.111,8 C16.111,8 16.111,8.002 16.111,8.002 C16.111,8.002 17,8.002 17,8.002 C17,8.002 17,5 17,5 C17,5 2,5 2,5 C2,5 2,8.002 2,8.002 C2,8.002 2.889,8.002 2.889,8.002 ZM1,3.996 C1,3.996 1,3.996 1,3.996 C1,3.996 1,8.002 1,8.002 C1,8.002 1,8.002 1,8.002 C1,8.002 1,5 1,5 C1,5 1,4 1,4 C1,4 1,3.996 1,3.996 ZM2,3.996 C2,3.996 2,4 2,4 C2,4 17,4 17,4 C17,4 17,3.996 17,3.996 C17,3.996 2,3.996 2,3.996 ZM18,3.996 C18,3.996 18,3.996 18,3.996 C18,3.996 18,4 18,4 C18,4 18,5 18,5 C18,5 18,8.002 18,8.002 C18,8.002 18,8.002 18,8.002 C18,8.002 18,3.996 18,3.996 Z')
            symbol(id='actions-icon-csv' viewbox='0 0 16 15')
              path(d='M15,12 C15,12 13.009,12 13.009,12 C13.009,12 13.009,14.731 13.009,14.731 C13.009,14.880 12.847,15.001 12.695,15.001 C12.695,15.001 1.317,15.001 1.317,15.001 C1.165,15.001 1,14.880 1,14.731 C1,14.731 1,12 1,12 C1,12 -0,12 -0,12 C-0,12 -0,5 -0,5 C-0,5 1,5 1,5 C1,5 1,0.276 1,0.276 C1,0.127 1.165,0.007 1.317,0.007 C1.317,0.007 7.978,0.007 7.978,0.007 C8.451,0.177 8.836,0.494 9.236,0.893 C9.236,0.893 11.980,3.628 11.980,3.628 C12.411,4.059 12.741,4.475 12.899,5 C12.899,5 15,5 15,5 C15,5 16,5 16,5 C16,5 16,12 16,12 C16,12 15,12 15,12 ZM5,9 C5,9 4,9 4,9 C4,9 4,10 4,10 C4,10 2,10 2,10 C2,10 2,7 2,7 C2,7 4,7 4,7 C4,7 4,8 4,8 C4,8 5,8 5,8 C5,8 5,7 5,7 C5,7 4,7 4,7 C4,7 4,6 4,6 C4,6 2,6 2,6 C2,6 2,7 2,7 C2,7 1,7 1,7 C1,7 1,10 1,10 C1,10 2,10 2,10 C2,10 2,11 2,11 C2,11 4,11 4,11 C4,11 4,10 4,10 C4,10 5,10 5,10 C5,10 5,9 5,9 ZM7,6 C7,6 7,7 7,7 C7,7 6,7 6,7 C6,7 6,8 6,8 C6,8 7,8 7,8 C7,8 7,9 7,9 C7,9 8,9 8,9 C8,9 8,10 8,10 C8,10 6,10 6,10 C6,10 6,11 6,11 C6,11 8,11 8,11 C8,11 8,10 8,10 C8,10 9,10 9,10 C9,10 9,9 9,9 C9,9 8,9 8,9 C8,9 8,8 8,8 C8,8 7,8 7,8 C7,8 7,7 7,7 C7,7 9,7 9,7 C9,7 9,6 9,6 C9,6 7,6 7,6 ZM8.267,0.830 C8.267,0.830 8.267,4.731 8.267,4.731 C8.267,4.731 12.144,4.731 12.144,4.731 C12.144,4.731 8.267,0.830 8.267,0.830 ZM15,6 C15,6 14,6 14,6 C14,6 14,9 14,9 C14,9 13,9 13,9 C13,9 13,10 13,10 C13,10 12,10 12,10 C12,10 12,9 12,9 C12,9 11,9 11,9 C11,9 11,6 11,6 C11,6 10,6 10,6 C10,6 10,9 10,9 C10,9 11,9 11,9 C11,9 11,10 11,10 C11,10 12,10 12,10 C12,10 12,11 12,11 C12,11 13,11 13,11 C13,11 13,10 13,10 C13,10 14,10 14,10 C14,10 14,9 14,9 C14,9 15,9 15,9 C15,9 15,6 15,6 Z')

    div#footerGfw
    div#share-modal.modal-wrapper.hidden
    div#basic-modal.modal-wrapper.hidden
    script(src='//js.arcgis.com/#{esriVersion}compact/init.js', async)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48182293-1', 'auto');
      ga('send', 'pageview');
