doctype html
html
  head
    title #{map.title}
    include ../templates/meta.jade
    //- meta(name='title', content='Interactive Map — Global Forest Watch Water')
    meta(name='description', content='Explore the status of watersheds worldwide by visualizing critical data and obtain analytical results ')
    meta(name='keywords', content='map, forest map, visualization, data, forest data, geospatial, gis, geo, spatial, analysis, local data, global data, forest analysis, explore, layer, terrain, alerts, tree, cover, loss, search, water, water stress, watersheds, erosion, fire, natural infrastructure, risk')
    style
      :stylus
        @require '../css/base'
    link(rel='stylesheet', href='../css/map.css?#{version}')
    link(rel='stylesheet', href='//js.arcgis.com/#{esriVersion}/esri/css/esri.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
    link(rel='icon', href='../css/images/favicon.ico')
    script(src='../vendor/jquery/dist/jquery.min.js')
    script.
      var base = location.href.replace(/\/[^/]+$/, '');
      var vendor = base.replace('map', 'vendor');
      var report = base.replace('map', 'report');
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        cacheBust: '#{version}',
        packages: [
          { name: 'js', location: base + '/js' },
          { name: 'vendor', location: vendor },
          { name: 'report', location: report + '/js' },
          { name: 'utils', location: base + '/js/utils' },
          { name: 'stores', location: base + '/js/stores' },
          { name: 'helpers', location: base + '/js/helpers' },
          { name: 'actions', location: base + '/js/actions' },
          { name: 'components', location: base + '/js/components' }
        ],
        aliases: [
          ['jquery', 'vendor/jquery/dist/jquery.min.js'],
          //- ['slick', '//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js'],
          //- ['gfw-assets', 'http://www.globalforestwatch.org/gfw-assets'],
          ['alt', 'vendor/alt/dist/alt.min'],
          ['react', 'vendor/react/react.min'],
          ['react-dom', 'vendor/react/react-dom.min'],
          ['lodash', 'vendor/lodash/lodash.min'],
          ['babel-polyfill', 'vendor/browser-polyfill'],
          ['formsy-react', 'vendor/formsy-react/release/formsy-react']
        ],
        deps: ['dojo/domReady!'],
        callback: function () {require(['js/main']);}
      };
    script.
      window.liveSettings = {
        api_key: "d2679f30b37246c4ab8272ff1860b274",
        detectlang: false,
        site: 'gfw-water',
        picker: '#transifexTranslateElement'
      };
    script(type='text/javascript').
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0027/6897.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    
  body
    include ../templates/svgAssets.jade
    div#headerGfw
    div#footerGfw
    div#root.layout-content
    div#layer-modal.hidden
    div#share-modal.modal-wrapper.hidden
    div#alerts-modal.modal-wrapper.hidden
    div#canopy-modal.modal-wrapper.hidden
    div#basic-modal.modal-wrapper.hidden
    div#historic-loss-modal.modal-wrapper.hidden
    include ../templates/gfwAssets.jade
    script(src='//js.arcgis.com/#{esriVersion}/init.js', async)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48182293-1', 'auto');
      ga('send', 'pageview');
