doctype html
html
  head
    title #{home.title}
    include templates/meta.jade
    style
      :stylus
        @require 'css/base'
    link(rel='stylesheet', href='css/home.css?#{version}')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
    link(rel='icon', href='css/images/favicon.ico')
    script(src='vendor/jquery/dist/jquery.min.js')
  body
    div#headerGfw
    section.relative.home-slider-container
      div.gfw-water-logo
      a.page-aqueduct-link(href="http://www.wri.org/our-work/project/aqueduct", target="_blank")
      include templates/topNavigation
      nav.mobile-hide.home-nav
        h2.shadow Explore the Map!
          div.inline-block
            a(href='./map/', title='EXPLORE THE MAP', alt='Explore the Map')
              div.gfw-btn.blue.pointer click here!
      ul.home-slider
        li.slide1.slide.pointer
          a(href='./map/')
            div.inner.relative
              aside
                h2 explore
                h3 explore the interactive map
                div.slide-link
                  span.mobile-hide more info
                  span.mobile-show +
        li.slide2.slide.pointer(title='Photo By: Philadelphiaift.org')
          a(href='http://www.wri.org/our-work/project/natural-infrastructure-water/blog')
            div.inner.relative
              aside
                h2 blogs & news
                h3 Read recent blogs and news about natural infrastructure
                div.slide-link
                  span.mobile-hide more info
                  span.mobile-show +
        li.slide3.slide.pointer(title='Photo By: Steve Dunleavy - North Kohala Stream, Big Island, Hawaii')
          div.attribution-link
            span Photo By: #[a.gfw-link(href='https://www.flickr.com/photos/stevedunleavy/5885138296/in/photolist-9Y3SzE-8x6Umu-7TvQ2L-iEVzum-91SB4n-fuo6N9-7gY6FG-7TjVDu-rGbFdE-pmuFpw-gnqcCj-enr7pG-m9ZoCi-hA4hoZ-z7UtVq-iEShgC-rYDiKQ-r3g3Pz-5CLJaP-7kgUf7-bFYVma-o3tmZo-cHpQvd-r5cpkg-8yyhWE-6bREJ9-m89Dsx-dbniUZ-q4CsXu-9KQmju-9KzvAN-6uTYRJ-dvEsLa-m6QyD4-d4pab5-6FYhUW-eJfYke-arDLBV-dHaaUb-oLffPu-owdjDL-9SRkU2-6uTZho-doENPM-aHgjE2-xBekek-7RbS5n-iERX1z-ygutLj-i27ZYe') Steve Dunleavy]
            |  licensed under #[a.gfw-link(href='https://creativecommons.org/licenses/by-nc-nd/2.0/') CC BY-NC-ND 2.0]
          a(href='http://www.wri.org/our-work/project/natural-infrastructure-water')
            div.inner.relative
              aside
                h2 visit our project page
                h3 Learn about natural infrastructure for water
                div.slide-link
                  span.mobile-hide more info
                  span.mobile-show +
        li.slide4.slide.pointer
          a(href='http://www.wri.org/applications/maps/aqueduct-atlas/')
            div.inner.relative
              aside
                h2 aqueduct
                h3 Check out Aqueduct's global water risk mapping tool
                div.slide-link
                  span.mobile-hide more info
                  span.mobile-show +
    div#home-main-container.home-main-container
      section.home-section.flex
        div.home-section-block.block-text
          h3.home-section-block__title Powerful Information
          p.home-section-block__content GFW Water enables anyone with internet access to visualize critical watershed information, identify threats to watershed health, and screen for sustainable natural infrastructure solutions.
        div.home-section-block.block-image
          img(src="css/images/powerful-information-map-chart.jpg" alt="Powerful Information" title="Powerful Information")
      section.home-section.flex.customize-analysis-block
        div.home-section-block.block-image
        div.home-section-block.block-text
          h3.home-section-block__title Custom Insight
          p.home-section-block__content Select point on the map and obtain results for your watershed of interest.
      section.home-section.flex
        div.home-section-block.block-text
          h3.home-section-block__title Report and Share
          p.home-section-block__content Go behind the numbers and learn about the importance of healthy watersheds. Save, print, or share your report with the world.
        div.home-section-block.block-image
          img(src="css/images/gfw-water-report-and-share.png" alt="Report and Share" title="Report and Share")
    div#bottom-slider.bottom-slider
      section.bottom-slider__block.flex.bottom-slide1
        div.home-section-block.block-text
          h3 Explore how you can use GFW water
          h4 Downstream beneficiaries: Are you a utility, municipality, or business?
          p Make smart water infrastructure investments. Explore natural infrastructure options and find the information you need to improve operations and protect water at a lower cost.
        div.home-section-block.block-image
      section.bottom-slider__block.flex.bottom-slide2.invisible
        div.home-section-block.block-text
          h3 Financing & Development: Are you part of a financing & development institution?
          h4 Downstream beneficiaries: Are you a utility, municipality, or business?
          p Obtain data, explore trends, and gain insights about the regions you support.
        div.home-section-block.block-image
      section.bottom-slider__block.flex.bottom-slide3.invisible
        div.home-section-block.block-text
          h3 Research & Civil Society: Are you a researcher, NGO or citizen?
          h4 Use data to support your projects.
          p Explore new project ideas and find the information you need to advance your research and campaigns to protect watersheds.
        div.home-section-block.block-image
      div.bottom-slider-container.flex
        div.slide-switch__block
          span.switch-button.switch-slide1
          span.switch-button__label Utility, Municipality, or Business
        div.slide-switch__block
          span.switch-button.switch-slide2
          span.switch-button__label Financial & Development Institution
        div.slide-switch__block
          span.switch-button.switch-slide3
          span.switch-button__label Researcher, NGO
      include templates/footerShare
    div#footerGfw
    script.
      var base = location.href.replace(/\/[^/]+$/, '');
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        cacheBust: '#{version}',
        packages: [
          { name: 'js', location: base + '/js' },
          { name: 'vendor', location: base + '/vendor' }
        ],
        aliases: [
          ['babel-polyfill', 'vendor/browser-polyfill']
        ],
        deps: ['dojo/domReady!'],
        callback: function () {require(['js/main']);}
      };
    include templates/gfwAssets.jade
    script(src='http://js.arcgis.com/#{esriVersion}/init.js', async)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48182293-1', 'auto');
      ga('send', 'pageview');
